@import '../mixins';

.comments {
   max-width: rem(900);
   margin: auto;
   margin-top: rem(30);
   padding: 0 rem(15);
}

.responses {
   margin-left: rem(100);
}

@media screen and (max-width: 768px) {
   .responses {
      margin-left: rem(50);
   }
}